<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ttt.ttt.plugin">
    <application
        android:theme="@style/Theme.Shadowsocks">
        <meta-data android:name="com.ttt.ttt.plugin.version"
                   android:value="1.3.2"/>
    </application>
</manifest>
